numpy>=1.16
xarray>=0.15
Cython
netcdftime
git+https://github.com/cedadev/time-checks.git#egg=time-checks
git+https://github.com/cedadev/ceda-elasticsearch-tools.git#ceda-elasticsearch-tools
pandas>=1.0.3
cftime>=1.0.4
netCDF4>=1.4
fiona>=1.8
geojson>=2.5.0
shapely>=1.6
geopandas>=0.7
dask[complete]>=2.6
pyproj>=2.5
bottleneck~=1.3.1
cfunits>=3.2.7
scipy

